.logo{

    width: 279px;
    height: 98px;
    left: 589px;
    top: 1930px;



}
.socialmedia{
    align-content: space-between;
    width: 145px;
    height: 48px;
    left: 658px;
    top: 2041px;
}