
.firstproposalh1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border: black;

}


.firstproposalh1box {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border: red;

}